.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    outline: 0;
    user-select: none !important;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    font-family: "Roboto", sans-serif;
}

.paper {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #ffffff;
    border: 0px solid #fff;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    user-select: none !important;
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -o-user-select: none !important;
}

.sketch {
    font-family: "Roboto", sans-serif;
    margin-top: -3%;
    margin-bottom: 5%;
    user-select: none !important; 
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -o-user-select: none !important;
    margin-right: 10px;
}

.sketch:last-of-type {
  margin-right: 0;
}

.picker {
  padding: 10px;
}

.color-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.color-buttons-2 {
  display: flex;
  justify-content: space-around;
}

.text-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}

.grid-fields,
.image-fields {
  display: flex;
  justify-content: space-between;
}

.image-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}

.buttons > button {
  font-family: inherit;
}