.taskModal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  font-family: "Roboto", sans-serif;
}

.taskPaper {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #ffffff;
  border: 0px solid #fff;
  outline: none;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  min-width: 900px;
  max-height: 70%;
  overflow-y: auto;
}

.manage-header {
  width: 100%;
  height: 70px;
}

.header-title {
  display: inline-block;
  position: relative;
  margin-top: 2%;
  font-size: 20px;
}

.add-task {
  float: right;
  position: relative;
  margin-top: 2%;
  cursor: pointer;
  color: rgb(16, 170, 221)
}