.taskModal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  outline: 0;
  user-select: none !important;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  font-family: "Roboto", sans-serif;
}

.taskPaper {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #ffffff;
  border: 0px solid #fff;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  min-width: 900px;
  user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -o-user-select: none !important;
}
