.settings {
  position: fixed;
  display: block;
  top: 1%;
  right: 1%;
  background-color: transparent;
  z-index: 1000;
}

.grid-button {
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  background: lightgray;
}
.grid-button:last-of-type {
  margin-right: 0;
}

.grid-button.on {
  background: #2ecc71;
  color: #fff
}

.grid-button.off {
  background: #f06060;
  color: #000
}

/* .grid-button:hover {
  top: 2px;
  box-shadow: 0 4px rgb(169, 169, 169);
} */

.grid-button:active {
  top: 0px;
}

.grid-button.save {
  background: rgb(123, 23, 236);
  color: #fff
}

.grid-button.folder {
  background: rgb(241, 210, 33);
}
