.settings {
    width: fit-content;
    height: fit-content;
    position: fixed;
    display: block;
    top: 5%;
    left: 90%;
    background-color: transparent;
    z-index: 1000;
}

.grid-button {
    border: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
    position: relative;
	-webkit-transition: none;
	-moz-transition: none;
    transition: none;
    border-radius: 50%;
	width: 50px;
	height: 50px;
    padding: 0;
}

.grid-button.on {
    background: #2ecc71;
    color: #fff;
    box-shadow: 0 6px darkgray;
    background-image: url(https://cdn.onlinewebfonts.com/svg/img_467584.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-button.off {
    background: #f06060;
    color: #fff;
    box-shadow: 0 6px darkgray;
    background-image: url(https://cdn.onlinewebfonts.com/svg/img_467584.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  
}

.grid-button:hover {
	box-shadow: 0 4px rgb(169, 169, 169);
	top: 2px;
}

.grid-button:active {
	box-shadow: 0 0 darkgray;
	top: 6px;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .grid-button .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .grid-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }  