.work-node {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  outline: 2px solid black;
}

.work-node > svg > path {
  fill: transparent;
  stroke-width: 1px;
  stroke: black;
}