.work-node {
  position: absolute !important;
  display: block !important;
  cursor: pointer !important;
  background-color: transparent !important;
  pointer-events: none;
}

.work-node > svg {
  position: absolute;
  display: block;
  overflow: visible;
  pointer-events: none;
}

.work-node:not(.selected):hover {
  outline: 2px dashed #bedafd;
}

.work-node.selected {
  outline: 2px dashed #4a98fd;
  pointer-events: all;
}

.work-node > svg > path {
  stroke-width: 1px;
  pointer-events: auto;
}

.resize-active {
  display: block !important;
}

.resize-inactive > span {
  display: none !important;
}