.work-node {
  position: absolute;
  cursor: pointer !important;
  background-color: transparent;
  outline: 2px solid black;
  z-index: 500;
  pointer-events: none;
}

.work-node.selected {
  position: absolute;
  cursor: pointer !important;
  background-color: transparent;
  outline: 2px dotted #00a9ff;
  z-index: 500;
  pointer-events: none;
}

.work-node-selected:hover {
  outline: 3px solid red;
}

.work-node > svg > path {
  fill: transparent;
  stroke-width: 1px;
  stroke: black;
}

.work-node-selected > svg > path {
  fill: transparent;
  stroke-width: 1px;
  stroke: black;
}