.toolbar-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 14px;
    margin: 2px 0 0;
    min-width: 240px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 100ms ease !important;
}

.toolbar-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.toolbar-contextmenu-item  {
    background: 0 0;
    border: 0;
    color: #373a3c;
	cursor: pointer;
    line-height: 2;
    padding: 3px 10px;
    text-align: inherit;
    white-space: nowrap;
    background-color: none !important;
    border-color: none !important;
}

.toolbar-contextmenu-item.react-contextmenu-item.react-contextmenu-item--active,
.toolbar-contextmenu-item.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    text-decoration: none;
}

.toolbar-contextmenu-item.react-contextmenu-item--disabled,
.toolbar-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.toolbar-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.toolbar-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.toolbar-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.toolbar-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: ">";
    font-weight: bold;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 7px;
    display: inline-block;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}