.toolbar-node {
    border-radius: 25%;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    margin-bottom: 5px;
}

.toolbar-node:last-of-type {
  margin-bottom: 0;
}

.toolbar-node:hover {
  background-color: lightgray;
}

.toolbar-node > svg {
  display: block;
  overflow: visible;
}

.toolbar-node > svg > path {
  fill: white;
  stroke-width: 1px;
  stroke: black;
}