.toolbar {
  position: fixed;
  z-index: 95;
  top: 20%;
  left: 1.5%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 9px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.4);
}

.toolbar-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.toolbar-icon:hover {
  color: #4a98fd
}

/* .toolbar.hidden {
  margin-left: -20%;
  box-shadow: none;
}
*/
.nodes {
  padding: 5px;
  display: flex;
  /* float: left; */
}

 .node-col {
  flex: 1;
  padding-right: 2%;
}

.node-col:last-child {
  padding-right: 0;
}

/*
.toolbar-toggle {
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  border: none;
  left: 100%;
  top: 50%;
  transform: translate(10px, -50%);
} */
