.toolbar {
  width: 20%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  border-right: 0;
  border-radius: 0;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: 7px 0 5px -2px #888;
  transition: 0.5s ease;
}

.toolbar.hidden {
  margin-left: -20%;
  box-shadow: none;
}

.nodes {
  padding: 5px;
  column-count: 3;
}

.toggle-menu {
  height: 5%; /* affects top space on toolbar*/
  overflow: hidden;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 9rem;
  width: 10%;
  position: relative;
  display: block;
  outline: none;
  z-index: 1;
  background-color: #F1F3F4;
  background: url(https://www.materialui.co/materialIcons/hardware/keyboard_arrow_left_black_192x192.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  transform: translate(20vw, 50vh)
}
