.node {
    border-radius: 25%;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.node:hover {
  background-color: lightgray;
}

.node > svg > path {
  fill: transparent;
  stroke-width: 1px;
  stroke: black;
}

.node > svg:hover > path {
  /* stroke-width: 2px; */
}