.toolbar {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  box-shadow: 7px 0 5px -2px #888;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.5s ease;
  position: fixed;
}

.toolbar.hidden {
  margin-left: -20%;
  box-shadow: none;
}

.nodes {
  padding: 5px;
  display: flex;
  /* float: left; */
}

.node-col {
  flex: 1;
  padding-right: 2%;
}

.node-col:last-child {
  padding-right: 0;
}

.node-col-one {
  order: 1;
}

.node-col-two {
  order: 2;
}
.node-col-three {
  order: 3;
}

.toolbar-toggle {
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  border: none;
  left: 100%;
  top: 50%;
  transform: translate(10px, -50%);
}
