body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url(https://cdn.hipwallpaper.com/i/22/44/AKMUqs.gif)
}

.non-drag {
  /* user-drag: none;  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}